{"ProjectID":"95e5a126-d9ef-4487-b834-ad8837a2a7eb","ProjectName":"runTaskTest","Main":"otherName.json","Version":"1.2.1.0","Dependencies":{"OpenBots.Commands.Data":"1.2.1","OpenBots.Commands.DataTable":"1.2.1","OpenBots.Commands.Dictionary":"1.2.1","OpenBots.Commands.Engine":"1.2.1","OpenBots.Commands.ErrorHandling":"1.2.1","OpenBots.Commands.Excel":"1.2.1","OpenBots.Commands.File":"1.2.1","OpenBots.Commands.Folder":"1.2.1","OpenBots.Commands.If":"1.2.1","OpenBots.Commands.Image":"1.2.1","OpenBots.Commands.Input":"1.2.1","OpenBots.Commands.List":"1.2.1","OpenBots.Commands.Loop":"1.2.1","OpenBots.Commands.Misc":"1.2.1","OpenBots.Commands.Outlook":"1.2.1","OpenBots.Commands.Process":"1.2.1","OpenBots.Commands.Switch":"1.2.1","OpenBots.Commands.Task":"1.2.1","OpenBots.Commands.TextFile":"1.2.1","OpenBots.Commands.Variable":"1.2.1","OpenBots.Commands.WebBrowser":"1.2.1","OpenBots.Commands.Window":"1.2.1"}}